*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

ul {
  margin: 0;
  padding: 0;
}

body {
  color: #424242;
  font-size: 18px;
  line-height: 1.5;
}

.container {
  margin: 0 20px;
  max-width: 1440px;
}

@media all and (min-width: 1080px) {
  .container {
    margin: 0 auto;
  }
}

.footer,
.header {
  background-color: #f2f2f2;
  height: 100px;
}

@media all and (max-width: 1040px) {
  .footer,
  .header {
    margin-left: -20px;
    margin-right: -20px;
  }
}

@media all and (min-width: 1040px) {
  .main-container {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-gap: 50px;
  }
}

/* .main-content,
.sidebar {
  padding: 40px 20px;
} */

/* Logo */
.header__logo a {
  text-transform: uppercase;
  text-decoration: none;
}

.header__logo a:hover {
  text-decoration: underline;
}

/* Navigation */
.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

@media all and (min-width: 1040px) {
  .header {
    flex-direction: row;
  }
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline;
}

.navigation a {
  color: rebeccapurple;
  display: inline-block;
  padding: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation a:hover,
.navigation a:focus {
  text-decoration: underline;
}

.social-media-links {
  display: flex;
  list-style-type: none;
}

.social-media-links li {
  margin: 0 20px;
}

.sidebar h3 {
  color: #555;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.links-block li {
  border-bottom: 1px solid #ccc;
  list-style: none;
}

.links-block a {
  text-decoration: none;
  margin-bottom: 14px;
}

@media all and (min-width: 1040px) {
  .article-items {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
  }
}

@media all and (min-width: 1040px) {
  .article-item {
    width: 32%;
  }
}

.footer {
  align-items: center;
  display: flex;
  justify-content: center;
}
